   .inline-block { display: inline-block; }

   #topbar {
    /*background-color: #0084B4;*/
    background-color: #F14B51;
    padding: 16px;
   }

   #topbar h1 {
    text-align: center;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    line-height: 32px;
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
   }
    
    .wrapper {
      text-align: center;
    }

    .search-box {
      display: inline-block;
      margin: 32px 0;
      max-width: 600px;
      width: 100%
    }
      .search-box .row,
      .search-box .chips {
        margin-bottom: 0;
      }

      .search-box .btn-flat {
          padding: 6px;
      }

    .content,
    .search-box {
      display: inline-block;
      text-align: left;
      max-width: 600px;
      width: 100%
    }

    .list-elem {
      display: table;
      margin: 8px 0;
    }

    .tweet, 
    .scoring { 
      display: table-cell; 
      vertical-align: middle; 
      border-radius: 4px;
    }

    .tweet iframe {
      margin: 0 !important;
    }
    
    .scoring {
      background-color: lightgrey;
      /*height: 498px;*/
      text-align: center;
      width: 100px;
      font-size: 32px;
    }
    .scoring.verified {
      background-color: lightgreen;
      color: green;
    }
    .scoring.false {
      background-color: indianred;
      color: white;
    }

    .scoring i.material-icons {
      font-size: 52px;
      padding-right: 6px;
      padding-bottom: 8px;
    }

    .filters {
      padding: 16px;
    }
      .filters .switch {
        margin: 8px 0;
        text-align: center;
      }
      .filters .switch i {
        color: #333;
        padding: 8px;
        text-align: center;
        display: inline-block;
        /*width: 24px;*/
      }

      .filters h5 {
        margin: 24px 16px 0;
      }

    .hidden { display: none; }
    .padding { padding: 16px; }
    .padding { text-align: center; }


@media (max-width: 660px) {
  #filter-toggle {
      margin-left: -14px;
  }
  
  .scoring { font-size: 16px; }
  .scoring i.material-icons { font-size: 24px; }
}


.btn, 
.btn-large,
.switch label input[type=checkbox]:checked+.lever:after,
.noUi-target.noUi-horizontal .noUi-tooltip,
.noUi-connect,
.noUi-horizontal .noUi-handle, 
.noUi-vertical .noUi-handle {
  background-color: #F14B51;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: rgba(241, 75, 81, 0.25);
}
